body {
    font: Arial, Helvetica, sans-serif;
}

#container {
    width: 1050px;
/*    border: 1px solid grey;*/
    margin: 0 auto;
}

#header {
    height: 100px;
    padding: 10px 0;
}

#brand {
    float: left;
}

h1 a{
    font-size: 50px;
/*    font-weight: : 100;*/
    color: black;
    text-decoration: none;
}

#searchBox{
    float: right;
    background: whitesmoke;
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
    border: 1px solid dimgray;
}

.text{
    float: left;
    width:200px;
    padding: 5px;
    font-size: 15px;
    color: black;
    background: white url(images/search.png) right center no-repeat;
    border: 1px solid dimgray;
}
.submit{
    float:right;
    padding: 5px;
    font-weight: : bold;
    color: white;
    background: black;
    font-size: 15px;
}

.clear{
    clear: both;
}

#menu{
    height: 70px;
    background: white;
    padding: 7px 0;
}

ul {
    list-style: none;
}

#menu ul li{
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid dimgray;
}

#menu ul li:last-child{
    border-right: none;8
}
#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: black;
    line-height: 30px;
    -ms-transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

#menu ul li a:hover, #menu ul li a:active{
    font-size: 20px;
    font-weight: bold;
    color: deeppink;
}

#introduction{
    background: whitesmoke;
    padding: 30px;
    margin: 16px 0;
    border: 1px solid dimgray;
}

#introduction h3{
    font-size: 45px;
    color: black;
    font-weight: normal;
}

#introduction p{
    font-size: 25;
    color: black;
    text-align: justify;
}

.sidebar {
    height: 500px;
    width: 450px;
    border: 1px solid dimgray;
    border-radius: 20px;
    padding: 10px 30px;
    background: white;
}

.sidebar h3{
    color: black;
    font-size: 30px;
}

.sidebar ul{
    padding-top: 8px;
}

#leftsidebar ul li{
    padding: 4px 0 50px 10px;
    list-style-image: url(images/pc.png);
}

#rightsidebar ul li{
    padding: 17px 0 17px 70px;
    background: url(images/tick.png) no-repeat left center;
}

.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    -ms-transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;    
}

.sidebar ul li a:hover, .sidebar ul li a.active{
    text-decoration: none;
    color: deeppink;
    font-size: 23px;
    font-weight: bold;
}

#leftsidebar{
    float: left;
}

#rightsidebar{
    float: right;
}

.footer{
    height: 60px;
    background: dimgray;
    padding: : 10px 30px;
    margin-top: 15px;
}

.footer p{
    padding-left: 420px;
    color: whitesmoke;
}